{
  "embeddings": [
    {
      "tensorName": "My tensor",
      "tensorShape": [
        1000,
        50
      ],
      "tensorPath": "https://raw.githubusercontent.com/tianv/carModel/master/v.txt",
      "metadataPath": "https://raw.githubusercontent.com/tianv/carModel/master/name.txt"
    }
  ]
}
